[data-theme="light"] {
  --color1: red;
  --color2: white;
  --color3: lightgrey;
  --color4: red;
}
[data-theme="dark"] {
  --color1: white;
  --color2: #1a1a1a;
  --color3: #1a1a1a;
  --color4: purple;
}
