.switch {
  width: 35px;
  height: 20px;
  background-color: lightgrey;
  border-radius: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}
.switchActive {
  background-color: red;
  justify-content: flex-end;
}

.handle {
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 40px;
}
.changeTheme {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  img {
    width: 25px;
  }
}
