@import url("../../../darkMode/darkModestyle.scss");
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@700&family=Kaushan+Script&family=Mogra&display=swap");
.headerSectionMain {
  width: 100%;
  height: 100vh;
  display: flex;
  // justify-content: space-between;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background: url("https://www.youtube.com/watch?v=IzIlR5kWU0w");
  video {
    position: absolute;
    left: -200px;
    width: 110vw;
    height: 130%;
  }
  .mainLeftSide {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 550px;
    padding-left: 60px;
    .Line {
      width: 20px;
      height: 100%;
      background-color: red;
      animation: animationLine 0.8s linear infinite;
      border-radius: 20px;
    }
    .Title {
      display: flex;
      z-index: 998;
      h1 {
        font-family: "Mogra", system-ui;
        font-weight: 400;
        font-style: normal;
        font-size: 140px;
        text-transform: uppercase;
        color: white;
        filter: drop-shadow(0 0 5rem crimson);
        transition: 0.3s;
        user-select: none;
        span {
          font-family: "Mogra", system-ui;
          font-weight: 400;
          font-style: normal;
          font-size: 140px;
          text-transform: uppercase;
          color: red;

          transition: 0.3s;
          user-select: none;
        }
      }
      img {
        width: 130px;
      }

      p {
        color: darkred;
        font-size: 20px;
      }
    }
  }
}
.btnLogin {
  position: absolute;
  right: 100px;
  bottom: 130px;
  width: 250px;
  height: 60px;
  // border-radius: 5px;
  // background-color: red;
  // color: white;
  // font-family: "Mogra", system-ui;
  // font-weight: 400;
  // font-size: 30px;
  // text-transform: uppercase;
  // font-style: normal;
  // cursor: pointer;
  // border: 2px solid white;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // &:hover {
  //   transition: 0.3s ease-in-out;
  //   background-color: transparent;
  //   box-shadow: 2px 2px 1px red;
  // }
}

@keyframes anim {
  0% {
    filter: none;
  }
  50% {
    filter: drop-shadow(2px 4px 10px var(--color4));
  }
  100% {
    filter: none;
  }
}

@keyframes animationLine {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.cssbuttons_io_button {
  background: red;
  width: 250px;
  color: white;
  font-family: inherit;
  padding: 0.55em;
  padding-left: 1.2em;
  font-size: 20px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 4em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons_io_button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em red;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons_io_button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons_io_button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: red;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
